.level5-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;

  img {
    padding: 200px;
  }
  .hidden > a {
    padding: 5px;
    color: white;
  }
}
