.level1-wrapper {
  padding: 200px;
  display: flex;
  text-align: center;
  justify-content: center;

  input {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
  }
}
