.timer-wrapper {
  margin: 0;
  height: 35px;
  background-color: black;

  h1 {
    margin: 0;
    padding-top: 3px;
    color: white;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
  }
}
