.home-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: initial;
  margin-top: 12rem;
  flex-direction: column;
  h1 {
    height: 46px;
    font-weight: 700;
    margin-bottom: 32px;
    font-size: 3.5em;
  }
  button {
    background-color: black;
    height: 2.5em;
    width: 6em;
    border: none;
  }
  span {
    padding: 5px;
    font-size: 0.7em;
  }
  p {
    margin-top: 0;
    text-align: center;
    width: 550px;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
    color: #00ff19;
    font-size: 1.1em;
    &:hover {
      color: white;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    color: black;
    text-align: center;
    a {
      color: black;
      font-size: 1em;
      border-bottom: 1px solid #aaa;
    }
  }
}

.mobile {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 300px;
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  div.home-wrapper {
    display: none;
  }
  div.mobile {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  div.mobile {
    display: none;
  }
}
