.home-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: initial;
  margin-top: 12rem;
  flex-direction: column;
  h1 {
    height: 46px;
    font-weight: 700;
    margin-bottom: 32px;
    font-size: 3.5em;
  }
  button {
    background-color: black;
    height: 2.5em;
    width: 6em;
    border: none;
  }
  p {
    margin-top: 0;
    text-align: center;
    width: 35%;
  }
  a {
    text-decoration: none;
    color: #00ff19;
    font-size: 1.2em;
    &:hover {
      color: white;
    }
  }
}
