.level7-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 200px;

  h2 {
    width: 600px;
  }

  input {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
  }
}
